<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit Account</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    <h1>Vending Tracks</h1>
  </header>
  <nav class="menu">
    <a href="/">Home</a>
    <a href="/dashboard">Dashboard</a>
    <a href="/vendingAll">All Machines</a>
    <a href="/client">Account</a>
  </nav>
  <p>
    Account information Edit

    <form>
      
      <label>Login Email:</label>
      <input type="email" name="username" value="" placeholder="Original Email">
        <br><br>

      <label>Password:</label>
      <input type="password" name="password" value="" placeholder="OriginalPassword">
        <br><br>  

      <label>Verrify Password:</label>
      <input type="password" name="verpassword" value="" placeholder="OriginalPassword">
        <br><br> 

      <label>Company Name:</label>
      <input type="text" name="companyname" value="" placeholder="Original Company name">
        <br><br>

      <label>Prefered email:</label>
      <input type="email" name="companyprefemail" value="Original Prefered Email">
        <br><br>

      <label>Address:</label>
      <input type="text" name="companyaddress" value="Original Adress, if any">
        <br><br>

      <label>Phone Number: </label>
      <input type="radio" name="companynumber" value="Original Phone number, if any">
        <br><br>

      <input type="submit">
  </form>
    <!-- saves info and pushes back to account page -->

  </p>
</body>
</html>
