!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Log In</title>
  <!-- Link to external CSS file -->
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <!-- Header, Should be uniform between all the pages -->
  <header>
    <h1>Vending Tracks</h1>
  </header>
  
  <p>
    Log In Page
    <a href="/dashboard">Go to Dashboard</a>
  </p>
  <p>
    <a href="/">Back to Home</a>
    <a href="/clientRegister">Register</a>
  </p>

</body>
</html>