<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Account</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    <h1>Vending Tracks</h1>
  </header>
  <nav class="menu">
    <a href="/">Home</a>
    <a href="/dashboard">Dashboard</a>
    <a href="/vendingAll">All Machines</a>
    <a href="/client">Account</a>
  </nav>
  <p>
    Account information
    <a href="/">Log Out</a>
    <a href="/clientEdit">Edit Account</a>
    <a href="/clientDelete">Delete Account</a>
  </p>
</body>
</html>
