<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Register</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    <h1>Vending Tracks</h1>
  </header>
  <p>
    Register Page

    <form>
      <label>Company Name:</label>
      <input type="text" name="companyname" value="" placeholder="ex: John Smith's Machines">
        <br><br>

      <label>Prefered email (if different from log in):</label>
      <input type="email" name="companyprefemail" value="">
        <br><br>

      <label>Address:</label>
      <input type="text" name="companyaddress">
        <br><br>

      <label>Phone Number: </label>
      <input type="radio" name="companynumber">
        <br><br>

      <input type="submit">
  </form>
    <!-- once regestration is confirmed, pipes them to the dashboard -->

  </p>
  <p>
    <a href="/">Back to Home</a>
  </p>
</body>
</html>
