<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Account</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    <h4>Vending Tracks</h4>
  </header>
  <nav class="menu">
    <a href="/Home">Home</a>
    <a href="/dashboard">Dashboard</a>
    <a href="/vendingAll">All Machines</a>
    <a href="/client">Account</a>
  </nav>
  <p>
    Account information
    <a href="/">Log Out</a>
    <a href="/clientEdit">Edit Account</a>
    <a href="/clientDelete">Delete Account</a>
  </p>

  <p>
    <label>Login Email:</label>
      <input type="email" name="username" value="" placeholder="Original Email" readonly>
        <br><br>

      <label>Password:</label>
      <input type="password" name="password" value="" placeholder="OriginalPassword" readonly>
        <br><br>  


      <label>Company Name:</label>
      <input type="text" name="companyname" value="" placeholder="Original Company name" readonly>
        <br><br>

      <label>Prefered email:</label>
      <input type="email" name="companyprefemail" value="Original Prefered Email" readonly>
        <br><br>

      <label>Address:</label>
      <input type="text" name="companyaddress" value="Original Adress, if any" readonly>
        <br><br>

      <label>Phone Number: </label>
      <input type="radio" name="companynumber" value="Original Phone number, if any" readonly>
        <br><br>
  </p>

</body>
</html>
