<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Register</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    <h1>Vending Tracks</h1>
  </header>
  <p>
    Register Page
    <a href="/dashboard">Register</a>
  </p>
  <p>
    <a href="/">Back to Home</a>
  </p>
</body>
</html>
