<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Log In</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    <h4>Vending Tracks</h4>
  </header>
  <p>
    Company Log In
    <!-- Place holder for future update where we have multiple clients to a company -->
    <a href="/dashboard">Go to Dashboard</a>
  </p>
  <p>
    <a href="/Home">Back to Home</a>
    <a href="/clientRegister">Register</a>
  </p>
</body>
</html>
