<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Main Dashboard</title>
  <!-- Link to external CSS file -->
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>



  <!-- Header, Should be uniform between all the pages -->
  <header>
    <h1>Vending Tracks</h1>
  </header>
  <p><%= data %></p>
  <!-- Navigation bar, links to "Home" and "Login"/"Account Dashboard" -->
  <nav class="menu">
    <a href="/Home">Home</a>
    <a href="/dashboard">Dashboard</a>
    <a href="/vendingAll">All Machines</a>
    <a href="/client">Account</a>
  </nav>

  <!-- Content Section, this has all the main elements we want to display -->
  <main>
  <h1>Registered Machines</h1>
  <p>
    Note: the links in the tables on this page do not work yet.
  </p>
  <hr>
  <!-- First table, connect to the results that sum the amount of items
  out of stock for each vending machine -->
  <h2>Items Out Of Stock</h2>
  <table>
    <tr>
      <th>Vending Machine</th>
      <th>Item Amount</th>
    </tr>
    <tr>
      <td><a href="/views/vending">Example Name</a></td>
      <td>Example Amount</td>
    </tr>
  </table>

  <hr>
  <!-- Second table, connect to the results that sum the amount of issues
  that have been reported for each vending machine -->
  <h2>Maintanence Problems</h2>
  <table>
    <tr>
      <th>Vending Machine</th>
      <th>Item Amount</th>
    </tr>
    <tr>
      <td><a href="/views/vending.ejs">Example Name</a></td>
      <td>Example Amount</td>
    </tr>
  </table>
  <!-- Default will be either empty list or message 
  saying "no machines reported" -->
  <hr>
  <h2>Sales Lost</h2>
  <p>
    A stacked bar plot that has the number of surveys divided by 
    the month. [note: restock periods will be different for each 
    machine, so have another similar plot for teh vending dashboard.
    Stacks here still items and problems]
  </p>
  <hr>
</main>

</body>
</html>