<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dashboard</title>
  <!-- Link to external CSS file -->
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Dashboard</h1>
  <p>Welcome to your dashboard.</p>

  <p><%= data %></p>
  <p><a href="/">Go Back Home</a></p>
</body>
</html>