<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tracking Vending</title>
  <!-- Link to external CSS file -->
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>Tracking Vending</header>
  <nav><a href="/dashboard">Go to Dashboard</a></nav>
  <h1>Tracking Vending</h1>
  


</body>
</html>