<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home Page</title>
  <!-- Link to external CSS file -->
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Welcome to the Home Page</h1>
  <p><a href="/dashboard">Go to Dashboard</a></p>

  <% if (data.authenticated) { %>
    <p>Hello, <%= data.user_name %>!</p>
    <a href="/logout">Log Out</a>
  <% } else { %>
    <p>Hello, You are not logged in. You can do so <a href="/login">here</a></p>
  <% } %>
  
</body>
</html>