<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- responsive viewport tag -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Link to external CSS file -->
  <link rel="stylesheet" href="/css/style.css">
  <!-- Bootstrap Link -->
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
  
  <title>Vending Tracks Home</title>
</head>
<body>

  <!-- Header, Should be uniform between all the pages -->
  <header>
    <h4>Vending Tracks</h4>
  </header>
  <!-- Navigation bar, links to "Home" and "Login"/"Account Dashboard" -->
  <nav class="menu">
    <a href="/">Home</a>
    <a href="/dashboard">Dashboard</a>
    <% if (data.authenticated) { %>
       <a href="/logout">Log Out</a>
    <% } else { %>
      <a href="/login">Log In</a>
     <% } %>
  </nav>
  <h1>Vending Tracks</h1>
  <h3>Let your users track what you're missing</h3>
  <hr>
  <h3>
    How it works
  </h3>
  <h4>
    1. Log In
  </h4>
  <p>
    No Account? No Problem!

    Signing up is quick and easy. All you need is an email.
  </p>
  <h4>
    2. Register Your Machine
  </h4>
  <p>
    Have More Than One? We Can Handle That!

    For each machine you will need it's location and a name in mind.
    A good name example is "Coco-Cola by South Entrance"
  </p>
  <h4>
    3. Print and Attach the QR Code
  </h4>
  <p>
    Once your machine(s) are registered, download and print the the PDF with the QR code.
    Instructions are on the page, so you can sit back and let the reports come in.
  </p>


  <!-- Bootstrap Bundle with Popper -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> -->

</body>
</html>