<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tracking Vending</title>
  <!-- Link to external CSS file -->
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <!-- Header, Should be uniform between all the pages -->
  <header>
    <h1>Vending Tracks</h1>
  </header>
  <!-- Navigation bar, links to "Home" and "Login"/"Account Dashboard" -->
  <nav class="menu">
    <a href="/">Home</a>
  </nav>
  <h1>Vending Tracks</h1>
  <h3>Let your users do track what you're missing</h3>
  <hr>
  <p>
    Points to "sell" our service to potetial clients
  </p>
  <p>
    How to get started. 
    What information they will need about their machine.
  </p>
  <nav><a href="/dashboard">Go to Dashboard</a></nav>


</body>
</html>