!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>All Vending Machines</title>
  <!-- Link to external CSS file -->
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <!-- Header, Should be uniform between all the pages -->
  <header>
    <h4>Vending Tracks</h4>
  </header>
  <!-- Navigation bar, links to "Home" and "Login"/"Account Dashboard" -->
  <nav class="menu">
    <a href="/">Home</a>
    <a href="/dashboard">Dashboard</a>
    <a href="/vendingAll">All Machines</a>
    <a href="/client">Account</a>
  </nav>
  
  <p>
    <a href="/vendingAdd">Add Machine</a>
  </p>

  <table>
    <tr>
      <th>Vending Machine</th>
      <th>QR Download</th>
    </tr>
    <tr>
      <td><a href="/views/vending">Example Name</a></td>
      <td>download link</td>
    </tr>
  </table>


</body>
</html>