!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Register Vending Machine</title>
  <!-- Link to external CSS file -->
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <!-- Header, Should be uniform between all the pages -->
  <header>
    <h4>Vending Tracks</h4>
  </header>
  <!-- Navigation bar, links to "Home" and "Login"/"Account Dashboard" -->
  <nav class="menu">
    <a href="/Home">Home</a>
    <a href="/dashboard">Dashboard</a>
    <a href="/vendingAll">All Machines</a>
    <a href="/client">Account</a>
  </nav>
  
  <p>
    Register a Vending Machine
    
    <form action="/vending/add" method="post">
      <label for="address">Address:</label>
      <input type="text" id="address" name="address" required><br>

      <label for="lat">Latitude:</label>
      <input type="text" id="lat" name="lat" required><br>

      <label for="long">Longitude:</label>
      <input type="text" id="long" name="long" required><br>

      <label for="model">Model:</label>
      <input type="text" id="model" name="model" required><br>

      <label for="status">Status:</label>
      <input type="text" id="status" name="status" required><br>

      <button type="submit">Add Vending Machine</button>
  </form>
    <!-- pipes client to vending all after OR vending dashboard 
     (edit pipes to vend dash if it is easier to make them pipe to the same or different locations) -->
  </p>


</body>
</html>