<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>All Vending Machines</title>
  <!-- Link to external CSS file -->
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <!-- Header, Should be uniform between all the pages -->
  <header>
    <h1>Vending Tracks</h1>
  </header>
  <!-- Navigation bar, links to "Home" and "Login"/"Account Dashboard" -->
  <nav class="menu">
    <a href="/Home">Home</a>
    <a href="/dashboard">Dashboard</a>
    <a href="/vendingAll">All Machines</a>
    <a href="/client">Account</a>
  </nav>
  
  <p>
    <a href="/vendingAdd">Add Machine</a>
  </p>

  <table>
    <tr>
      <th>Vending Machine</th>
      <th>Status</th>
      <th>QR Download</th>
    </tr>
    <% vendingMachines.forEach(machine => { %>
    <tr>
      <td><a href="/vending/dashboard/<%= machine._id %>">Location: <%= machine.location.address %></a></td>
      <td>Status: <%= machine.status %></td>
      <td><button onclick="printQRCode('<%= machine._id %>')">Print QR Code</button></td>
    </tr>
    <% }) %>
  </table>


</body>

<script>
  function printQRCode(machineId) {
      const printWindow = window.open(`/vending/generateQRCode/${machineId}`, 'Print QR Code', 'width=600,height=600');
      printWindow.addEventListener('load', function() {
        printWindow.print();
      }, true);
    }
</script>
</html>