!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit Vending Machine</title>
  <!-- Link to external CSS file -->
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <!-- Header, Should be uniform between all the pages -->
  <header>
    <h4>Vending Tracks</h4>
  </header>
  <!-- Navigation bar, links to "Home" and "Login"/"Account Dashboard" -->
  <nav class="menu">
    <a href="/">Home</a>
    <a href="/dashboard">Dashboard</a>
    <a href="/vendingAll">All Machines</a>
    <a href="/client">Account</a>
  </nav>
  
  <p>
    Edit Vending Machine Information
    <form>
      <label>Vending Machine Name:</label>
      <input type="text" name="machinename" value="" placeholder="ex: Coca-Cola in Lobby">
        <br><br>

      <label>Location:</label>
      <input type="text" name="machineaddress">
        <br><br>

      <label>Items: </label>
      <input type="radio" name="machineitemtype">
        <br><br>

      <input type="submit">
  </form>
  <!-- pipes client to vending dashboard after edits -->
  </p>


</body>
</html>