<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Vending Dashboard</title>
  <!-- Link to external CSS file -->
  <link rel="stylesheet" href="/css/style.css">
</head>
<!-- 
    This dashboard will be populated depending on which
    vending machine was chosen. Most of the base text on
    this page will be default text in case of connection issues
 -->
<body>
  <!-- Header, Should be uniform between all the pages -->
  <header>
    <h4>Vending Tracks</h4>
  </header>
  <!-- Navigation bar, links to "Home", dashboard and "Login"/"Account Dashboard" -->
  <nav class="menu">
    <a href="/">Home</a>
    <a href="/dashboard">Dashboard</a>
    <a href="/vendingAll">All Machines</a>
    <a href="/client">Account</a>
  </nav>

  <!-- Content Section, this has all the main elements we want to display -->
  <main>
  <h1>Machine Name</h1>
  <a href="/vendingEdit">Edit Machine Information</a>
  <hr>
  <!-- First table, connect to the results that sum the amount of items
  out of stock for each vending machine -->
  <h2>Items Out Of Stock</h2>
  <table>
    <tr>
      <th>Item</th>
      <th>Times Reported</th>
    </tr>
    <tr>
      <td>Example Name/Number</td>
      <td>Example Amount</td>
    </tr>
  </table>

  <hr>
  <!-- Second table, connect to the results that sum the amount of issues
  that have been reported for each vending machine -->
  <h2>Maintanence Problems</h2>
  <table>
    <tr>
      <th>Issue</th>
      <th>Times Reported</th>
    </tr>
    <tr>
      <td>Example Issue</td>
      <td>Example Amount</td>
    </tr>
  </table>
  <!-- Default will be either empty list or message 
  saying "no machines reported" -->
  <hr>
  <h2>Sales Lost</h2>
  <p>
    A stacked bar plot that has the number of surveys divided by 
    since last restock. [note: Stacks here still items and problems]
  </p>
  <hr>
</main>
</body>
</html>